.app .trackOverview {

}

@font-face {
    font-family: Squada One;
    src: url(../../fonts/SquadaOne-Regular.ttf) format(truetype);
}

.app .trackOverview .titleDiv {
    color: white;
    font-size:20pt;
    height:20px;
    font-family: Squada One;
    text-align:center;
    vertical-align:middle;
}
